---
import Layout from "../layouts/Layout.astro";
import Toplist from "../components/Toplist.astro";
import Selector from "../components/Selector.astro";

export function getStaticPaths() {
  return [
    { params: { by: "oslo" }, props: { title: "Oslo" } },
    { params: { by: "agder" }, props: { title: "Agder" } },
    { params: { by: "akershus" }, props: { title: "Akershus" } },
    { params: { by: "rogaland" }, props: { title: "Rogaland" } },
    { params: { by: "buskerud" }, props: { title: "Buskerud" } },
    { params: { by: "flyplasser" }, props: { title: "Flyplasser" } },
    { params: { by: "finnmark" }, props: { title: "Finnmark" } },
    { params: { by: "innlandet" }, props: { title: "Innlandet" } },
    { params: { by: "moreogromsdal" }, props: { title: "Møre og Romsdal" } },
    { params: { by: "nordland" }, props: { title: "Nordland" } },
    { params: { by: "svalbard" }, props: { title: "Svalbard" } },
    { params: { by: "telemark" }, props: { title: "Telemark" } },
    { params: { by: "troms" }, props: { title: "Troms" } },
    { params: { by: "trondelag" }, props: { title: "Trøndelag" } },
    { params: { by: "vestland" }, props: { title: "Vestland" } },
    { params: { by: "vestfold" }, props: { title: "Vestfold" } },
    { params: { by: "ostfold" }, props: { title: "Østfold" } },
  ];
}

const cities = [
  "Oslo",
  "Telemark",
  "Flyplasser",
  "Akershus",
  "Agder",
  "Svalbard",
  "Østfold",
  "Vetland",
];

const { by } = Astro.params;
const { title } = Astro.props;
---

<Layout title={"Ølpriser - " + title}>
  <hgroup>
    <h1 class="text-3xl font-extrabold">Pilsguiden</h1>
    <h2 class="text-2xl font-bold pt-2">Din ultimate guide til ølpriser</h2>
  </hgroup>
  <Selector />
  <h1 class="text-2xl font-semibold my-2">Ølpriser — {title}</h1>
  <p class="pt-2">
    * Indikerer at pris er justert til halvliter. Klikk på baren for å se mer
    informasjon.
  </p>
  <Toplist sort={title} />
</Layout>
