---
import Layout from "../layouts/Layout.astro";
import Toplist from "../components/Toplist.astro";
import Selector from "../components/Selector.astro";

export function getStaticPaths() {
  return [
    { params: { by: "oslo" }, props: { title: "Oslo" } },
    { params: { by: "telemark" }, props: { title: "Telemark" } },
    { params: { by: "flyplasser" }, props: { title: "Flyplasser" } },
    { params: { by: "baerum" }, props: { title: "Bærum" } },
    { params: { by: "bergen" }, props: { title: "Bergen" } },
  ];
}

const cities = ["Oslo", "Telemark", "Flyplasser", "Bærum"];

const { by } = Astro.params;
const { title } = Astro.props;
---

<Layout title={"Ølpriser - " + title}>
  <hgroup>
    <h1 class="text-3xl font-extrabold">Pilsguiden</h1>
    <h2 class="text-2xl font-bold pt-2">Din ultimate guide til ølpriser</h2>
  </hgroup>
  <Selector />
  <h1 class="text-2xl font-semibold my-2">Ølpriser — {title}</h1>
  <Toplist sort={title} />
  <p class="pt-2">
    * Indikerer at pris er justert til halviter. Klikk på baren for å se mer
    informasjon.
  </p>
</Layout>
