---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Om oss">
    <article class="m-auto max-w-xl px-1 max-sm:px-4">
        <h1 class="text-3xl font-extrabold pb-4">Om Pilsguiden</h1>
        <p class="max-w-prose text-justify">
            Noensinne lurt på hvor du får tak i den billigste ølen? Det har vi.
            I Norge kan ølprisene på et utested variere med over 100kr;
            Pilsguiden ble til i et forsøk på å lose deg i retning et
            serveringssted som passer din økonomi.
        </p>
    </article>
</Layout>
