---
import { Image } from "astro:assets";
import logo from "../assets/pilz-transparent.png";
---

<footer class="flex justify-center my-12">
    <span class="flex flex-col">
        <Image src={logo} alt="Tegning av en sopp" width="150" height="150" />
        <p class="text-center text-sm font-light">© Pilz-gruppen</p>
    </span>
</footer>
