---
const links = [
    { url: "/", name: "Hjem" },
    { url: "/tom-waits-2024", name: "Tom Waits-løpet 2024" },
    { url: "/om-oss", name: "Om oss" },
];
---

<nav class="m-auto max-w-xl">
    <ul class="flex gap-2 font-semibold">
        {
            links.map(({ url, name }) => (
                <li class="hover:bg-violet-300 px-1 py-0.5 rounded-md">
                    <a href={url}>{name}</a>
                </li>
            ))
        }
    </ul>
</nav>
