---
const links = [
    { url: "/oslo", name: "Oslo" },
    { url: "/agder", name: "Agder" },
    { url: "/akershus", name: "Akershus" },
    { url: "/vestland", name: "Vestland" },
    { url: "/telemark", name: "Telemark" },
    { url: "/buskerud", name: "Buskerud" },
    { url: "/svalbard", name: "Svalbard" },
    { url: "/finnmark", name: "Finnmark" },
    { url: "/ostfold", name: "Østfold" },
    { url: "/flyplasser", name: "Flyplasser" },
];
---

<h3 class="font-semibold py-2">Velg sted:</h3>
<nav class="m-auto max-w-xl">
    <ul class="flex gap-2 font-semibold overflow-auto">
        {
            links.map(({ url, name }) => (
                <li class="hover:bg-violet-300 bg-amber-200 rounded-md p-1">
                    <a href={url}>{name}</a>
                </li>
            ))
        }
    </ul>
</nav>
