---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="no">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Sjekk Pilsguiden for å få bedre oversikt over ølpriser på bar. Oppdateres når vi gidder."
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content={title} />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1353733212143314"
			crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Tony Nordgaard" />
		<title>{title}</title>
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-84QWZM031W"
	></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-84QWZM031W");
	</script>

	<body class="bg-amber-100">
		<header class="bg-amber-200 py-2 mb-4 max-sm:px-4">
			<Header />
		</header>
		<main class="m-auto max-w-xl px-1 max-sm:px-4">
			<slot />
		</main>
		<footer>
			<Footer />
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
</style>
